.home-component {
    padding: 10% 25% 0% 40%;
}

.buggati-image {
    width: 60%;
}

.domain {
    padding-left: 12%;
    font-size: 24pt;
    font-weight: lighter;
}

@media screen and (max-width: 600px) {
    .home-component {
        padding: 5% 10% 0% 25%;
    }

    .buggati-image {
        width: 80%;
    }
}
